<div class="box6">
    <h4>パスワードのリセット</h4>
    <div id="ajax-dis-reset" style="color:blue">
    </div>
    <span id="ajax-request">
        <!-- form_withのパスを「ajax_updateアクション」に紐付ける -->
        <%= form_with url: users_password_reset_path do |f| %>
        <!--  送信ボタン  -->
        メールアドレス：<br />
        <%= f.email_field :email,require:true, :size=> "30" %>
        <%= f.submit 'Reset' , data: { confirm: "本当にパスワードをリセットしますか？"}%>
        <% end %>
    </span>
    <%= render partial: 'common/link' %>
</div>

<style>
    .button {
        text-align: right;
    }
</style>
<script>
    let toTop = document.getElementById('toTop');
    toTop.addEventListener('click', function (event) {
        window.location.href = '/';
    });
</script>